article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "OpenSansCondLight", "Tahoma", "Arial", "Verdana", sans-serif;
  direction: ltr;
  background: #fff;
}
@font-face {
  font-family: 'OpenSansCondLight';
  src: url('fonts/OpenSansCondLight.eot');
  src: local('☺'), url('fonts/OpenSansCondLight.woff') format('woff'), url('fonts/OpenSansCondLight.ttf') format('truetype'), url('fonts/OpenSansCondLight.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondBold';
  src: url('fonts/OpenSansCondBold.eot');
  src: local('☺'), url('fonts/OpenSansCondBold.woff') format('woff'), url('fonts/OpenSansCondBold.ttf') format('truetype'), url('fonts/OpenSansCondBold.svg') format('svg');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'OpenSansCondLightItalic';
  src: url('fonts/OpenSansCondLightItalic.eot');
  src: local('☺'), url('fonts/OpenSansCondLightItalic.woff') format('woff'), url('fonts/OpenSansCondLightItalic.ttf') format('truetype'), url('fonts/OpenSansCondLightItalic.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
a {
  -webkit-transition: color 0.3s, height 0.5s;
  transition: color 0.3s, height 0.5s;
}
div.clear {
  clear: left;
}
div.wrapper {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border: 1px solid green;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
header,
nav,
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
header div.cell {
  -webkit-flex: 0 0 298px;
  -moz-flex: 0 0 298px;
  -ms-flex: 0 0 298px;
  flex: 0 0 298px;
  border: 1px solid;
  text-align: center;
}
header div.cell h1 {
  font: bold 44px "OpenSansCondLight", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #000000;
  margin: 0;
  padding: 0px 20px 0px 20px;
}
header div.cell p {
  font: bold 24px "OpenSansCondLight", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #000000;
  padding: 0px 20px 0px 20px;
}
nav div.cell {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  border: 1px solid;
}
section.row {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
section.row div.cell {
  -webkit-flex: 1 0 298px;
  -moz-flex: 1 0 298px;
  -ms-flex: 1 0 298px;
  flex: 1 0 298px;
  height: 200px;
  border: 1px solid;
}
section.slider {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
section.slider div.cell {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 300px;
  border: 1px solid;
}
